<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @supplychain.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @supplychain.title %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @supplychain.complete %>
</p>

<%= link_to 'Edit', edit_supplychain_path(@supplychain) %> |
<%= link_to 'Back', supplychains_path %>
